<xtn-navbar [(Title)]="__Title"></xtn-navbar>
<div class="myPlaceListCss">

  <button (click)="onBtnQuery()">刷新列表</button>


  <div class="place" *ngIf="PlaceList && PlaceList.List && PlaceList.List.length>0 ">
    <div class="row" *ngFor="let item of PlaceList.List">
      <div class="nameInviteCode">
        <div class="name">活动名称：<span> {{item.Name}}</span></div>
        <div class="invite">邀请码：<span class="InviteCode">{{item.InviteCode}}</span> </div>

        <div class="toMap">
          <div (click)="onClickToMap(item)">查看位置</div>
        </div>
      </div>
      <div class="address">地点：<span> {{item.Address}}</span></div>
      <div class="time">时间：{{item.BeginDate|date:'yyyy-MM-dd HH:mm'}} ~ {{item.EndDate|date:'yyyy-MM-dd HH:mm'}}</div>
      <div class="bewrite">
        描述：<span>{{item.Bewrite}}</span>
      </div>
      <div class="peopleList" *ngIf="item.PeopleList && item.PeopleList.length>0">
        <div class="people" *ngFor="let people of item.PeopleList">
          {{people.username}}
        </div>
      </div>
    </div>
  </div>
</div>