.myPlaceListCss {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 12px;

  .place {
    padding: 10px;

    .row {
      border: 1px solid #f1f1f1;
      margin-bottom: 5px;
      border-radius: 5px;
      padding: 5px;

      &:hover {
        border: 1px solid #c0c0e6;
        background: rgba(208, 223, 234, 0.44);
      }

      &:active {
        background: aliceblue;
      }

      .nameInviteCode {
        padding: 5px 0;
        align-items: center;
        position: relative;

        .name {
          >span {
            font-size: 120%;
            color: #222;
            font-weight: 600;
          }
        }

        .invite {
          margin-top: 5px;

          >span {
            color: Red;
            font-size: 120%;
          }
        }

        .toMap {
          position: absolute;
          top: 0;
          right: 0;

          >div {
            padding: 5px 15px;
            border-radius: 5px;
            border: 1px solid #868689;
            font-size: 110%;
            background: #222;
            color: #fff;
          }
        }
      }

      .address {
        @extend .nameInviteCode;
      }

      .time {
        @extend .nameInviteCode;
      }

      .bewrite {
        @extend .nameInviteCode;
      }

      .peopleList {
        padding: 5px;
        display: flex;
        overflow: auto;
        .people {
          margin-right: 5px;
          padding: 5px 10px;
          white-space: nowrap;
          border: 1px solid;
          border-radius: 5px;
        }
      }
    }
  }
}
