.scrollCss {
  position: relative;
  // border: 1px solid;
  padding: 10px 5px;

  .top {
    position: relative;
    text-align: center;
    display: none;
    transition: .2s;
    overflow: hidden;

    .title {
      position: absolute;
      width: 100%;
      bottom: 10px;
    }
  }

  .bottom {
    position: relative;
    overflow: hidden;
    transition: .2s;
    text-align: center;
    display: none;
    .title {
      width: 100%;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      height: 100%;
    }
  }
}
