.scrollCss {
  position: relative;
  // width: 100%;
  border: 1px solid;
  padding: 10px 5px;

  .top {
    position: relative;
    text-align: center;
    display: none;
    transition: .2s;
    overflow: hidden;

    .title {
      position: absolute;
      width: 100%;
      bottom: 10px;
    }
  }

  .bottom {
    text-align: center;
  }
}
