<div class="placeItem">
  <div class="title">
    聚会点
  </div>
  <div class="address">
    <input disabled type="text" required [(ngModel)]="place.Address">
  </div>
  <div class="title">
    描述
  </div>
  <div class="bewrite">
    <textarea placeholder="请填写描述部分(200字以空)" [(ngModel)]="place.Bewrite" maxlength="200"></textarea>
  </div>
  <div class="date">
    <div class="title">开始时间：</div>
    <input type="date" required [(ngModel)]="place.BeginDate">
  </div>
  <div class="date">
    <div class="title">结束时间：</div>
    <input type="date" required [(ngModel)]="place.EndDate">
  </div>
</div>