<xtn-navbar [(Title)]="__Title"></xtn-navbar>
<xtn-defref></xtn-defref>
<div class="homeCss">
  <div class="demo">
    <div class="btns">
      <div class="btn" (click)="__UserInfo('get')">get</div>
      <div class="btn" (click)="__UserInfo('post')">post</div>
      <div class="btn" (click)="__UserInfo('del')">delete</div>
      <div class="btn" (click)="__UserInfo('put')">put</div>
      <div class="btn" (click)="__ShowDialog()">
        弹出窗体1
      </div>
      <div class="btn" (click)="__ShowDialog2()">
        弹出窗体2
      </div>
    </div>
  </div>

  <div class="captcha" *ngIf="CommonInfo && CommonInfo.CaptchaInfo">
    <div [innerHTML]="Catcha" (click)="__GetCaptcha()"></div>
    <button (click)="__GetCaptcha()">获取验证码 </button>
  </div>
  <div class="fileUpload">
    <div class="file" *ngFor="let item of FileCollection;let i = index">
      <div class="type">{{item.type}}</div>
      <div class="name">{{item.name}}</div>
      <div class="size">{{item.size}}</div>
      <button (click)="onBtnDeleteFile(i)">删除</button>
    </div>

    <input type="file" [(ngModel)]="__FileInfo" (change)="onTxtUpload($event)">

    <button (click)="onBtnClickBatchUpload()">批量 </button>
    <button (click)="onBtnClickUpload()">单个 </button>
    <button (click)="onBtnCallApi()">调用第三方API</button>
  </div>

  <xtn-scroll [Percentage]="20" [IsNextPageFinish]="ScrollInfo.IsNextPageFinish" [IsRefreshFinish]="ScrollInfo.IsRefreshFinish"
    (onRefresh)="onScrollRefresh()" (onNextPage)="onScrollNextPage()" (onSlideLeft)="onSlideLeft()" (onSlideRight)="onSlideRight()">
    <div *ngIf="AreaInfo && AreaInfo.List && AreaInfo.List.length>0">
      <div class="areaInfo" *ngFor="let item of AreaInfo.List">
        <div class="id">{{item.AreaId}}</div>
        <div class="name">{{item.AreaName}}</div>
      </div>
    </div>
  </xtn-scroll>
</div>