<xtn-navbar [(Title)]="__Title"></xtn-navbar>
<xtn-defref></xtn-defref>

<div class="homeCss">
  <div class="callApi" (click)="__CallApi()">call api</div>
  <div class="demo">
    <div class="btns">
      <div class="btn" (click)="__UserInfo('get')">get request</div>
      <div class="btn" (click)="__UserInfo('post')">post request</div>
      <div class="btn" (click)="__UserInfo('del')">delete request</div>
      <div class="btn" (click)="__UserInfo('put')">put request</div>
    </div>
  </div>

  <div class="apiResult">
    <div class="row" *ngFor="let item of DataList">
      <div class="id">{{item.Id}}</div>
      <div class="guid">{{item.Guid}}</div>
      <div class="datetime">{{item.DateTime| date:'yyyy-MM-dd HH:mm:ss'}}</div>
    </div>
    <div></div>
  </div>
</div>