.dialogCss {
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
  top: 0;

  .bgInfo {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    position: fixed;
  }

  .content {
    position: relative;
    background: #fff;
    margin: 10px;
    border-radius: 5px;

    .title {
      text-align: center;
      padding: 5px 10px;
      border-bottom: 1px solid #ddddf3;
    }

    .data {
      padding: 0px;
    }

    .btns {
      display: flex;
      border-top: 1px solid #f5dfdf;

      > div {
        flex: 1;
        padding: 10px;
        text-align: center;
      }

      .confirm {
        &:active {
          border-bottom-left-radius: 5px;
          background: aliceblue;
          color: #222;
        }

        &:hover {
          background: rgba(208, 223, 234, 0.44);
        }
      }

      .cancel {
        border-left: 1px solid #f5dfdf;

        &:hover {
          background: rgba(208, 223, 234, 0.44);
        }

        &:active {
          border-bottom-right-radius: 5px;
          background: aliceblue;
          color: #222;
        }
      }
    }
  }
}
