
<table>
    <tr>
        <td align="right" style="width: 180px;">
            昵称:
        </td>
        <td>
            <input type="text" name="nickname" maxlength="40" />
        </td>
    </tr>
    <tr>
        <td align="right" style="width: 80px;">
            标题:
        </td>
        <td>
            <input type="text" name="title" maxlength="60"/>
        </td>
    </tr>
    <tr>
        <td align="right">
            内容:
        </td>
        <td>
            <textarea id="content" name="content"></textarea>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <input type="submit" value="保存"/>
        </td>
    </tr>
</table>
