<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><% PageTitle %></title>
</head>
<body>
    <div style="height: 50px;">
        <include name="html" src="/view/layout/blogtop.html" />
    </div>
    <div style="position:absolute; width:100%; top:50px; bottom:0px; right: 0px; left: 0px; background: cyan;
                overflow-y:auto;">
        <table style="width: 100%;height:100%;" >
            <tr>
                <td width="200px" valign="top">
                    <div style="margin-top: 3px;">
                        <include name="html" src="/view/layout/blogleft.html" />
                    </div>
                </td>
                <td valign="top">
                    {__CONTENT__}
                </td>
            </tr>
            <tr valign="bottom">
                <td colspan="2" height="30px;" style="text-align: center;" >
                    <include name="html" src="/view/layout/blogfooter.html" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>