<div class="rulItemCss">
  <div class="row">
    <div class="title">
      <div class="name"> 规则号</div>
      <input type="number" [(ngModel)]="Rule.id" /></div>
    <div class="title">
      <div class="name"> 类型 </div>
      <select required [(ngModel)]="Rule.type" (change)="onChange_RuleType(Rule.type)">
          <option *ngFor="let item of RuleType" [value]="item.key">{{item.title}} </option>
      </select>
    </div>
    <div class="title" *ngIf="Rule.type === 'query'">
      <div class="name"> 多行数据</div>
      <input type="checkbox" [(ngModel)]="Rule.isRows" />
    </div>

    <div class="title" *ngIf="!Rule.isRows">
      <div class="name"> 合并数据</div>
      <input type="checkbox" required [(ngModel)]="Rule.isMergeOption" />
    </div>

    <div class="title" *ngIf=" 'beginTran,commit,judge'.indexOf(Rule.type)<0">
      <div class="name"> 结果名称</div>
      <input type="text" required [(ngModel)]="Rule.name" />
    </div>
  </div>
  <div class="right">
    <div class="oper">
      <div class="btns btn-right">
        <div class="btn" *ngIf="!IsFirst">
          <div (click)="btn_Click(OperatorType.UP,Index -1)">上移</div>
        </div>
        <div class="btn" *ngIf="!IsLast">
          <div (click)="btn_Click(OperatorType.DOWN,Index+1)">下移</div>
        </div>
        <div class="btn">
          <div (click)="btn_Click(OperatorType.INSERT,Index)">插入一条</div>
        </div>
        <div class="btn">
          <div (click)="btn_Click(OperatorType.DELETE,Index)">删除</div>
        </div>
      </div>
    </div>
    <!-- SQL语句 -->
    <div class="sqlInfo" *ngIf=" 'query,insert,update,delete'.indexOf(Rule.type)>=0?true:false">
      <div class="title">规则执行的SQL语句</div>
      <textarea [(ngModel)]="Rule.sql"></textarea>
    </div>

    <!-- 添加判断条件信息 -->
    <div class="judgeInfo" *ngIf="Rule.type === 'judge'">
      <div class="bewrite">
        添加判断条件信息
        <div class="failMsg"> <input type="text" placeholder="判断出错返回的信息" [(ngModel)]="Rule.judgeInfo.failMsg"></div>
      </div>
      <div class="judgeType">
        this 方法:
        <textarea [(ngModel)]="Rule.judgeInfo.strByThis" placeholder="if((this.sex === \'男\' && this.cityname == \'上海\' ) || (this.age > 30 && this.cityname !== \'北京\')){return true;}return false;"></textarea>
      </div>
      <div class="judgeType eveal">
        eval方法:
        <textarea [(ngModel)]="Rule.judgeInfo.strByEval" placeholder="(\':sex\' !== \'男\' && \':cityname\' == \'北京\' ) || (:age > 30 && \':cityname\' !== \'北京\')"></textarea>
      </div>
    </div>
    <!-- 缓存操作 -->
    <div class="cacheInfo" *ngIf="Rule.type === 'cache'">
      缓存操作
      <div>
        token值：<input type="text" required [(ngModel)]="Rule.cacheInfo.token" />
      </div>
      <div>
        其它字段值：
        <input type="text" required [(ngModel)]="Rule.cacheInfo.fields">
      </div>
    </div>
    <!-- 赋值操作 -->
    <div class="setValue" *ngIf="Rule.type ==='setvalue'">
      <div>
        <div class="btns">
          <div class="btn" (click)="onClickAddSetvalue()">添加</div>
        </div>
      </div>
      <div class="item" *ngFor="let item of Rule.setValues">
        <div class="new">
          新值名称: <input type="text" required [(ngModel)]="item.fieldName" />
        </div>
        <div class="set">
          赋值操作: <input type="text" required [(ngModel)]="item.setValue" />
        </div>
      </div>
    </div>
    <!-- 主子关系 -->
    <div class="relation" *ngIf="Rule.type === 'parentrelation' ">
      <div class="desc">返回的结果是个数组，数组里面某个字段值又是个数组</div>
      <div class="content">
        <div class="idInfo">
          <div class="parent">
            主序号：
            <input type="number" required [(ngModel)]="Rule.parentRelation.parentId" />
          </div>
          <div class="children">
            子序号：
            <input type="number" required [(ngModel)]="Rule.parentRelation.childrenId" />
          </div>
          <div class="relationName">
            关系字段名称：
            <input type="text" required [(ngModel)]="Rule.parentRelation.name" />
          </div>

          <button (click)="onBtnClickAddRelation()">添加字段</button>
        </div>
        <div class="fields">
          <div class="fieldRelation" *ngFor="let item of Rule.parentRelation.fields;let i = index">
            <div class="parent">
              主数组字段:
              <input type="text" required [(ngModel)]="item.parentField" />
            </div>
            <div class="children">
              子数组字段：
              <input type="text" required [(ngModel)]="item.childrenField" />
            </div>

            <button (click)="onBtnClickDeleteField(i)">删除</button>
          </div>

        </div>
      </div>
    </div>
    <!-- 验证码 -->
    <div class="captcha" *ngIf="Rule.type === 'captcha'">
      <div class="delete" (click)="onClickCaptcha()">
        <input type="checkbox" [(ngModel)]="Rule.captcha.isDelete" disabled /> 删除验证码
      </div>

      <div class="desc">
        验证字段名称：
        <input type="text" required [(ngModel)]="Rule.captcha.field" />
      </div>
      <div class="content" *ngIf="!Rule.captcha.isDelete">
        <div class="desc">
          时间超时说明：
          <input type="text" required [(ngModel)]="Rule.captcha.timeout" placeholder="默认值：验证码已过期" />
        </div>
        <div class="desc">
          验证错误时说明：
          <input type="text" required [(ngModel)]="Rule.captcha.fail" placeholder="默认值：验证码错误" />
        </div>
      </div>
    </div>
    <!-- 文件 -->
    <div class="files" *ngIf="Rule.type === 'files'">
      <div class="desc">
        保存成功后,会提供有几个字段,【FileType,FileName,FilePath,FileSize】可以用。
      </div>

      <div class="row">
        <label>文件路径：</label>
        <input type="text" [ngModel]="Rule.files.filePath" disabled>
        <label>文件类型：</label>
        <select class="select" required [(ngModel)]="Rule.files.type" (change)="onChange_FileType(Rule.files.type)">
          <option *ngFor="let item of FileTypes" [value]="item.key">{{item.title}} </option>
        </select>
      </div>

      <div class="relation">
        <div class="tableInfo" *ngFor="let table of Rule.files.Relations;let i =index">
          <div class="tableName">
            表关联关系 <input type="text" [(ngModel)]="table.TableName" placeholder="表名"> 上传文件字段名：
            <input type="text" [(ngModel)]="table.UploadFieldName" title="对应接口中文件上传的字段名称" placeholder="对应接口中文件上传的字段名称">
            <button (click)="btnAddTableRelation(i, Rule.files.Relations) ">添加表联</button>
            <button (click)="btnDeleteTableRelation(i, Rule.files.Relations) ">删除表联</button>
          </div>
          <div class="relaField" *ngFor="let rField of table.Fields;let ti = index">
            <label for="">表字段：</label>
            <input type="text" [(ngModel)]="rField.TabelFieldName">
            <label for=""> 关联取值字段：</label>
            <input type="text" [(ngModel)]="rField.RelationFieldName" placeholder="描述中的字段" title="默认是从fileList信息中获取，其实就是从options里取，最后就是字段以内容当作存储">
            <button (click)="btnAddFileRelationField(ti, table.Fields)">添加</button>
            <button (click)="btnDeleteFileRelationField(ti, table.Fields)">删除</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 调用 第三方API -->
    <div class="apiCall" *ngIf="Rule.type === 'apiCall'">
      <div>
        <span>
          方法
         </span>
        <!-- <input type="text" [(ngModel)]="Rule.apiCall.Method" /> -->
        <select [(ngModel)]="Rule.apiCall.Method">
            <option *ngFor="let item of ThirdPartyApiMethod"  [value]="item.key">{{item.title}}</option>
          </select>
        <span>接口地址:</span>
        <input type="text" [(ngModel)]="Rule.apiCall.Url" />
      </div>
      <div>
        <div>
          <span>调用接口时给接口传的Header参数 </span>
          <button (click)="btnClickThirdPartyApi(null,-1, Rule.apiCall.ApiHeaderParams,1)">添加 </button>
        </div>
        <div *ngFor="let apiParam of Rule.apiCall.ApiHeaderParams;let i = index;">
          <span>参数名称：</span>
          <input type="text" [(ngModel)]="apiParam.ParamName" />
          <span>参数值：</span>
          <input type="text" [(ngModel)]="apiParam.ParamValue" />
          <label for="" (click)="onClickSetFixedValue(apiParam)">
            <input disabled type="checkbox" [(ngModel)]="apiParam.IsFixedValue"/> 是否固定值
          </label>
          <button (click)="btnClickThirdPartyApi(apiParam, i, Rule.apiCall.ApiHeaderParams, 1)">添加</button>
          <button (click)="btnClickThirdPartyApi(apiParam, i, Rule.apiCall.ApiHeaderParams, 0)">删除</button>
        </div>
      </div>
      <div>
        <div>
          <span>调用接口时给接口传的Body参数 </span>
          <button (click)="btnClickThirdPartyApiBody(null,-1, Rule.apiCall.ApiBodyParams,1)">添加 </button>
        </div>
        <div *ngFor="let apiParam of Rule.apiCall.ApiBodyParams;let i = index;">
          <span>参数名称：</span>
          <input type="text" [(ngModel)]="apiParam.ParamName" />
          <span>参数值：</span>
          <input type="text" [(ngModel)]="apiParam.ParamValue" />
          <label for="" (click)="onClickSetFixedValue(apiParam)">
            <input disabled type="checkbox" [(ngModel)]="apiParam.IsFixedValue"/> 是否固定值
          </label>
          <button (click)="btnClickThirdPartyApiBody(apiParam, i, Rule.apiCall.ApiBodyParams, 1)">添加</button>
          <button (click)="btnClickThirdPartyApiBody(apiParam, i, Rule.apiCall.ApiBodyParams, 0)">删除</button>
        </div>

      </div>
    </div>
  </div>

</div>


<div class="chilren" *ngIf="Rule.type === 'judge'">
  <div class="title">
    <div class="desc">添加子规则，判断失败后要处理流程:</div>
    <div class="resultIndex">
      <span>返回结果索引</span>
      <input type="number" [(ngModel)]="Rule.judgeInfo.resultIndex">
    </div>
    <div class="btns">
      <div class="btn">
        <div (click)="onClickAddRule(Rule.judgeInfo)">添加规则 </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of Rule.judgeInfo.chilrenRules; let i = index; let isFirst = first; let isLast = last; ">
    <xtn-rule-item [Source]="item" [ParentId]="Rule.id" [Index]="i" [IsFirst]="isFirst" [IsLast]="isLast" (onMoveUpOrDown)="onSubItemMoveUpOrDown($event,i)"></xtn-rule-item>
  </div>
</div>