<div class="rulItemCss">
  <div class="row">
    <div class="title">
      <div class="name"> 规则号</div>
      <input type="number" [(ngModel)]="Rule.id" /></div>
    <div class="title">
      <div class="name"> 类型 </div>
      <select required [(ngModel)]="Rule.type" (change)="onChange_RuleType(Rule.type)">
          <option *ngFor="let item of RuleType" [value]="item.key">{{item.title}} </option>
        </select>
    </div>
    <div class="title" *ngIf="Rule.type === 'query'">
      <div class="name"> 多行数据</div>
      <input type="checkbox" [(ngModel)]="Rule.isRows" />
    </div>

    <div class="title" *ngIf="!Rule.isRows">
      <div class="name"> 合并数据</div>
      <input type="checkbox" required [(ngModel)]="Rule.isMergeOption" />
    </div>

    <div class="title" *ngIf=" 'beginTran,commit,judge'.indexOf(Rule.type)<0">
      <div class="name"> 结果名称</div>
      <input type="text" required [(ngModel)]="Rule.name" />
    </div>
  </div>
  <div class="sqlInfo" *ngIf=" 'query,insert,update,delete'.indexOf(Rule.type)>=0?true:false">
    <div class="oper">
      <div class="title">规则执行的SQL语句</div>
      <div class="btns btn-right">
        <div class="btn" *ngIf="!IsFirst">
          <div (click)="btn_Click(OperatorType.UP,Index -1)">上移</div>
        </div>
        <div class="btn" *ngIf="!IsLast">
          <div (click)="btn_Click(OperatorType.DOWN,Index+1)">下移</div>
        </div>
        <div class="btn">
          <div (click)="btn_Click(OperatorType.INSERT,Index)">插入一条</div>
        </div>
        <div class="btn">
          <div (click)="btn_Click(OperatorType.DELETE,Index)">删除</div>
        </div>
      </div>
    </div>
    <textarea [(ngModel)]="Rule.sql"></textarea>
  </div>
  <div class="judgeInfo" *ngIf="Rule.type === 'judge'">
    <div class="bewrite">
      添加判断条件信息
      <div class="failMsg"> <input type="text" placeholder="判断出错返回的信息" [(ngModel)]="Rule.judgeInfo.failMsg"></div>
    </div>
    <div class="judgeType">
      this 方法:
      <textarea [(ngModel)]="Rule.judgeInfo.strByThis" placeholder="if((this.sex === \'男\' && this.cityname == \'上海\' ) || (this.age > 30 && this.cityname !== \'北京\')){return true;}return false;"></textarea>
    </div>
    <div class="judgeType">
      eval方法:
      <textarea [(ngModel)]="Rule.judgeInfo.strByEval" placeholder="(\':sex\' !== \'男\' && \':cityname\' == \'北京\' ) || (:age > 30 && \':cityname\' !== \'北京\')"></textarea>
    </div>
  </div>

  <!-- 缓存操作 -->
  <div class="cacheInfo" *ngIf="Rule.type === 'cache'">
    缓存操作
    <div>
      token值：<input type="text" required [(ngModel)]="Rule.cacheInfo.token" />
    </div>
    <div>
      其它字段值：
      <input type="text" required [(ngModel)]="Rule.cacheInfo.fields">
    </div>
  </div>
</div>


<div class="chilren" *ngIf="Rule.type === 'judge'">
  <div class="title">
    <div class="desc">添加子规则，判断失败后要处理流程:</div>
    <div class="resultIndex">
      <span>返回结果索引</span>
      <input type="number" [(ngModel)]="Rule.judgeInfo.resultIndex">
    </div>
    <div class="btns">
      <div class="btn">
        <div (click)="onClickAddRule(Rule.judgeInfo)">添加规则 </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of Rule.judgeInfo.chilrenRules; let i = index; let isFirst = first; let isLast = last; ">
    <xtn-rule-item [Source]="item" [ParentId]="Rule.id" [Index]="i" [IsFirst]="isFirst" [IsLast]="isLast" (onMoveUpOrDown)="onSubItemMoveUpOrDown($event,i)"></xtn-rule-item>
  </div>
</div>