.rulItemCss {
  display: flex;
  .row {
    padding-top: 5px;

    .title {
      // padding: 5px;
      display: flex;

      .name {
        margin-right: 5px;
        width: 50px;
        text-align: right;
      }
    }

    input[type='number'] {
      width: 50px;
    }

    input[type='text'] {
      width: 100px;
    }
  }

  textarea {
    height: 100%;
    padding: 5px;
    width: calc(100% - 10px);
    min-height: 50px;
    font-size: 14px;
    height: 75px;
  }

  .right {
    flex: 1;
    position: relative;

    .oper {
      display: flex;
      align-items: center;
      font-weight: 800;
      position: absolute;
      right: 0px;
      background: #fff;
      border: 1px solid #c5beb4;
      background: #efe3e3;
      border: 1px solid #c5beb4;
      color: black;
    }

    .sqlInfo {
      flex: 1;
      height: 100%;
      .title {
        padding: 8px;
      }
    }

    .judgeInfo {
      @extend .sqlInfo;

      .bewrite {
        font-weight: 900;
        display: flex;
        align-items: center;
        padding: 6px;
        .failMsg {
          margin-left: 5px;
          flex: 1;
          display: flex;

          input {
            flex: 1;
          }
        }
      }

      .judgeType {
        display: flex;
        white-space: nowrap;
        align-items: center;

        >textarea {
          margin-left: 5px;
        }
      }

      .eveal {
        display: none;
      }
    }

    .setValue {
      flex: 1;

      .item {
        display: flex;

        input {
          flex: 1;
          width: 100%;
          margin-left: 5px;
        }

        .new {
          display: flex;
          white-space: nowrap;
          align-items: center;
        }

        .set {
          flex: 1;
          margin-left: 5px;
          align-items: center;
          display: flex;
          white-space: nowrap;
        }
      }
    }

    .relation {
      position: relative;
      .desc {
        padding: 8px;
      }
      .content {
        .idInfo {
          display: flex;
          align-items: center;

          input[type='number'] {
            width: 50px;
          }
          input [type='text'] {
            width: 100px;
          }
        }
        .fields {
          position: relative;

          .fieldRelation {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .captcha {
      border: 1px solid;
      min-height: 90px;
      .desc {
        padding: 0px;
      }
    }
    .files {
      border: 1px solid;
      min-height: 90px;

      .row {
        margin-left: 5px;
        margin-top: 2px;
        align-items: center;
        >label {
          width: 60px;
          text-align: right;
        }
        select,
        input[type='text'] {
          width: 100px;
        }
      }

      .desc {
        padding: 5px;
        color: red;
        font-weight: 700;
        line-height: 1.8;
      }

      .relation {

        .relaField {
          display: flex;
          white-space: nowrap;
          align-items: center;
          input {
            flex: 1;
            width: 100%;
          }
        }
      }
    }
  }
}

.chilren {
  margin-left: 15px;
  border: 1px solid #f410f0;

  .title {
    display: flex;
    align-items: center;

    .desc {
      padding-right: 10px;
    }

    .resultIndex {
      >span {
        padding: 0 5px;
      }
    }
  }
}
