<div class="apiitemCss" [@openClose]="stateExpression">
  <div class="master">
    <div class="status" (click)="onClickCheckbox('Status')">
      <input type="checkbox" [(ngModel)]="ApiInfo.Status" disabled>
      <span class="title">启用</span>
    </div>
    <div class="token" (click)="onClickCheckbox('IsTokenAccess')">
      <input type="checkbox" [(ngModel)]="ApiInfo.IsTokenAccess" disabled>
      <span class="title">Token访问</span>
    </div>
    <div class="requestMethod">
      <span class="title">请求方式：</span>
      <select [(ngModel)]="ApiInfo.Method">
      <option *ngFor="let item of MethodCollection"  [value]="item.key">{{item.title}}</option>
    </select>
    </div>
    <span class="title">接口：</span>
    <input type="text" [(ngModel)]="ApiInfo.PathName" />
    <div class="btns">
      <div class="btn">
        <div (click)="btnClickSave()">保存</div>
      </div>
      <div class="btn">
        <div (click)="btnClickDelete()">删除</div>
      </div>
    </div>
  </div>
  <div class="bewrite">
    <input type="text" required [(ngModel)]="ApiInfo.Bewrite" placeholder="接口描述200字以内" maxlength="200">
  </div>
  <xtn-rule-info [Source]="RuleInfo"></xtn-rule-info>
</div>