.apiitemCss {
  border: 1px solid;

  >div {
    cursor: default;
  }

  .master {
    border-bottom: 1px solid #f0cccc; // padding: 10px;
    display: flex;
    align-items: center;

    .status {
      display: flex;
      align-items: center;
      border: 1px solid #f4f0f0;
    }

    .token {
      @extend .status;
    }

    .requestMethod {
      @extend .status;
    }

    .title {
      white-space: nowrap;
      overflow: hidden;
      padding: 5px;
    }

    input {
      padding: 5px;
    }

    input[type='text'] {
      flex: 1;
    }
  }
  .bewrite {
    display: flex;
    input {
      flex: 1;
    }
  }

  >div:last-child {
    border-bottom: none;
  }
}
