.registerCss {
  padding: 20px;

  input {
    padding: 5px 10px; // width: 100%;
    flex: 1;
  }
  .title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .row {
    margin-bottom: 5px;
    display: flex;
  }
  .userHeader {
    .selectHeader {
      padding: 10px;
    }
    .header {
      margin: 20px;
      width: 100%;
      height: 30vh;
      text-align: center;
      >img {
        height: 100%;
      }
    }
  }
  .file {
    @extend .row;
    .name {
      flex: 1;
      margin: 0px 10px;
    }
  }
  .filelist {
    position: relative;
    input {
      margin-top: 5px;
      width: 100%;
    }
  }
  .btn {
    cursor: default;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    >div {
      padding: 5px 20px;
      border: 1px solid #999;
      border-radius: 5px;

      &:hover {
        background: blue;
        color: #fff;
      }
    }
  }
}
