<xtn-navbar [(Title)]="__Title"></xtn-navbar>
<div class="registerCss">
  <div class="row">
    <input type="text" [(ngModel)]="UserInfo.UserName" placeholder="请输入用户名称" maxtLength="50">
  </div>
  <div class="row">
    <input type="password" [(ngModel)]="UserInfo.Password" placeholder="请输入密码" maxtLength="30">
  </div>
  <div class="row">
    <input type="password" [(ngModel)]="UserInfo.ConfromPassword" placeholder="确定密码" maxtLength="30">
  </div>
  <div class="row">
    <input type="text" [(ngModel)]="UserInfo.Tel" placeholder="电话" maxtLength="20">
  </div>
  <div class="row">
    <input type="text" [(ngModel)]="UserInfo.Address" placeholder="地址" maxtLength="150">
  </div>

  <div class="userHeader">
    <div class="selectHeader">
      <label> 用户头像</label> <input type="file" (change)="onChangeHeadPortrait($event, 'file1')">
    </div>
    <div class="header" *ngIf="HeadPortrait">
      <img [src]="HeadPortrait">
    </div>
  </div>

  <div class="file" *ngFor="let item of UserInfo.FileList;let i = index;">
    <div class="type">{{item.type}}</div>
    <div class="name">{{item.name}}</div>
    <div class="size">{{item.size}}</div>
    <button (click)="btnDeleteSelectDelete(i)">删除</button>
  </div>
  <div class="filelist">
    <input type="file" (change)="onChangeFileList($event, 'file1')">
    <!-- <input type="file" (change)="onChangeHeadPortrait($event, 'file2')">
    <input type="file" (change)="onChangeHeadPortrait($event, 'file3')">
    <input type="file" (change)="onChangeHeadPortrait($event, 'file4')"> -->
  </div>
  <div class="btn">
    <!-- <div type="text" (click)="__ClickRegister()">确定</div> -->
    <div type="text" (click)="btnSubmit()">确定</div>
  </div>
</div>