<div class="apiListCss">
  <div class="apiInfo">
    <div class="api">
      <div class="method">请求方式</div>
      <div class="statu">状态</div>
      <div class="path">接口地址</div>
      <div class="operator">操作</div>
    </div>
    <div *ngFor="let item of ApiList;let i = index;">
      <div class="api" (click)="onClickExpand(item)">
        <div class="method">{{item.Method}}</div>
        <div class="statu">{{item.StatusCn}}</div>
        <div class="path">{{item.PathName}}</div>
        <div class="operator">
          {{ CurrentItem && CurrentItem.Id === item.Id ?'收起' :'展开' }}
        </div>
      </div>
      <div class="item">
        <xtn-api-item [IsExpanded]="CurrentItem && CurrentItem.Id === item.Id" [Source]="item" [Index]="i" (onSave)="onSaveRule($event)"
          (onDelete)="onDeleteRule($event,i)"></xtn-api-item>
      </div>
    </div>

  </div>
  <div class="addApi">
    <xtn-api-item [Source]="NewApiInfo" *ngIf="isAddNewApiInfo"></xtn-api-item>
    <div class="btns">
      <div class="btn" (click)="btnClickAdd()">
        <div>
          添加接口
        </div>
      </div>
      <div class="btn" (click)="btnClickSave()">
        <div>
          保存接口
        </div>
      </div>
    </div>
  </div>
</div>