.apiListCss {
  font-size: 12px;
  .token {
    font-size: 14px;
    color: red;
    text-align: center
  }
  .apiInfo {
    .api {
      display: flex;
      border-top: 1px solid #f5f5f5; // padding: 5px 0px;
      >div {
        border-right: 1px solid #f5f5f5;
        padding: 5px 0;
      }

      &:hover {
        // border: 1px solid #f5f5f5;
        background: #f5f5f5;
      }

      .method {
        width: 35px;
        padding: 5px;
      }
      .methodCn {
        @extend .method;
      }
      .__overflow {

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .bewrite {
        flex: 1;
        padding: 5px;
        @extend .__overflow;
      }

      .statu {
        padding: 5px 15px;
      }
      .path {
        padding-left: 5px;
        @extend .__overflow;
      }

      .operator {
        padding: 5px 10px;
      }
    }

    .item {
      border: 1px solid #f5f5f5;
    }
  }

  .addApi {
    border: 1px solid #f5f5f5;

    .btns {
      display: flex;
      justify-content: center; // padding: 20px;
      .btn {
        margin: 5px;

        >div {
          border: 1px solid #f5f5f5;
          border-radius: 5px;
          padding: 5px 20px;
          font-size: 14px;

          &:hover {
            background: blue;
            color: #fff;
          }
        }
      }
    }
  }
}
