<layout name="html" src="/view/sub_layout.html" />
    <title>用户登录界面</title>

<form action="" method="post">
    <div style="width: 100%; height: auto;">
        <table style="align-content: center;vertical-align: middle;">
            <tr>
                <td>用户名称:</td>
                <td><input type="text" name="username"/></td>
            </tr>
            <tr>
                <td>用户密码:</td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="提交"/>
                    <input type="reset" value="重置"/>
                    <a href="register" >用户注册</a>
                    <a href="findpassword" >找回密码</a>
                </td>
            </tr>
        </table>
    </div>
</form>