.appCss {
  padding: 5px;

  .btnGoBack {
    margin: 5px;
    display: flex;

    & > div {
      padding: 5px 25px;
      border: 1px solid #f5f5f5;
      background: blue;
      color: #fff;
      border-radius: 5px;

      &:hover {
        background: #999;
      }
    }
  }

  .components {
    // padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    > div {
      margin-top: 5px;
      margin-right: 5px;

      > div {
        border: 1px solid #f5f5f5;
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
          border: 1px solid #999;
          background: #999;
          color: #fff;
        }
      }
    }
  }
}
